<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="5">
    <title>Title</title>
</head>
<body>
    <p>
    {{mem}}
    </p>
    <p>
    RAM vrij {{memfree}}
    </p>
    <p>
    {{disk}}   
    </p>
    <p>
    {{counter}}
    </p>
    <p>
    {{cpu}}
    </p>
</body>
</html>